# Wine 데이터 분석

In [1]:
import pandas as pd
import numpy as np

In [4]:
import os
path = os.getcwd()
print(path)

# 절대경로: 변하지 않는 경로
# 상대경로: 현재 작업 경로 기준

# 연습문제 1: 와인 데이터셋을 불러와 데이터프레임으로 만들어보세요.
df = pd.read_csv('./wine.csv')
df

/Users/inseop/Desktop/python_class/3.pandas

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

- type: 와인의 종류 (white, red) 
- alcohol: 알콜 도수

In [6]:
# 연습문제 2: 기술통계 정보를 출력해보세요.
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6487.000000,6489.000000,6494.000000,6495.000000,6495.000000,6497.000000,6497.000000,6497.000000,6488.000000,6493.000000,6497.000000,6497.000000
mean,7.216579,0.339691,0.318722,5.444326,0.056042,30.525319,115.744574,0.994697,3.218395,0.531215,10.491801,5.818378
std,1.296750,0.164649,0.145265,4.758125,0.035036,17.749400,56.521855,0.002999,0.160748,0.148814,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [10]:
# 연습문제 3: 와인의 종류(quality)별로 데이터가 몇 개씩 있는지 출력해보세요.
# df['quality'].value_counts()
df['type'].value_counts()

white    4898
red      1599
Name: type, dtype: int64

In [14]:
# 연습문제 7: 각 와인의 타입(type)별로 평균 알코올 도수(alcohol)와 
# 평균 당도(residual sugar)를 구해보세요.
# white, red의 특징을 좀 알고싶다.

df.groupby('type')['alcohol', 'residual sugar'].mean()

/var/folders/yz/yncj9qh52mq6wk5p86v5p5lm0000gn/T/ipykernel_8447/4259888910.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('type')['alcohol', 'residual sugar'].mean()

         alcohol  residual sugar
type
red    10.422983        2.538806
white  10.514267        6.393250

In [19]:
# 연습문제 8: 'quality' 열의 값이 5 이상인 데이터만 추출하시오.

# quality가 5이상, type은 레드
good_quality_df = df[(df['quality'] >= 5) & (df['type'] == 'red')]
good_quality_df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4898,red,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
4899,red,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
4900,red,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
4901,red,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4902,red,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [20]:
# 연습문제 9: 'fixed acidity' 열과 'pH' 열의 값이 각각 3 이상, 4이상 인 데이터만 추출하시오.
df[(df['fixed acidity'] >= 3) & (df['pH'] >= 4)]

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
6214,red,5.4,0.74,0.0,1.2,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,6
6219,red,5.0,0.74,0.0,1.2,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,6

In [25]:
# 연습문제 10: 'volatile acidity' 열의 값이 0.5 이하인 데이터의 
# 'quality' 열의 평균을 계산하세요.

df[df['volatile acidity'] <= 0.5]['quality'].mean()

5.897160538769567

In [30]:
# 연습문제 11: 'residual sugar' 열의 값이 2 이하인 데이터의 'density' 열의 중앙값을 계산하세요.

df[df['residual sugar'] <= 2]['density'].median()

0.9928

In [70]:
# 연습문제 12: 'alcohol' 열이 가장 높은 5개 데이터의 
# 'quality' 열 값을 출력하세요.

new_df = df.sort_values('alcohol', ascending=True).tail(10) # 오름차순 일 때의 하위 5개 (작은 숫자 => 큰 숫자로 숫자가 커짐)
new_df['alcohol']

6168    14.00
1099    14.00
6167    14.00
5719    14.00
3150    14.00
5042    14.00
5040    14.00
4503    14.05
3918    14.20
5550    14.90
Name: alcohol, dtype: float64

In [71]:
new_df = df.sort_values('alcohol', ascending=False).head(10) # 내림차순 했을 때 상위 5개 (큰 숫자 => 작은 숫자로 숫자가 작아짐)
new_df['alcohol']

5550    14.90
3918    14.20
4503    14.05
3150    14.00
5040    14.00
5042    14.00
5719    14.00
1099    14.00
3915    14.00
5486    14.00
Name: alcohol, dtype: float64

In [ ]:
# 연습문제 13: 'chlorides'(염화물) 열의 값이 가장 높은 데이터 10개의 'pH' 열 값을 출력하세요.

df.sort_values('chlorides', ascending=False).head(10)['pH']

In [58]:
# 연습문제 14: 'sulphates' 열의 값이 0.4 이하인 데이터의 'quality' 열 값을 1로 변경하세요.

# df[df['sulphates'] <= 0.4]['quality'] = 1
# df.loc[df["sulphates"] <= 0.4, "quality"] = 1
# df[df['sulphates'] <= 0.4]['quality']

index = df['sulphates'] <= 0.4 # 인덱싱 조건

0       False
1       False
2       False
3        True
4        True
        ...
6492    False
6493    False
6494    False
6495    False
6496    False
Name: sulphates, Length: 6497, dtype: bool

In [ ]:
# 연습문제 15: 
# 'fixed acidity' 열의 값이 7 이하인 데이터의 'quality' 열 값을 0으로, 
# 'fixed acidity' 열의 값이 8 이상인 데이터의 'quality' 열 값을 2로 변경하세요.
# 나머지 데이터는 변경하지 않습니다.

low_acidity_df = df[df['fixed acidity'] <= 7]
low_acidity_df.loc[:, 'quality'] = 0 # quality 컬럼 값을 0으로 변경
low_acidity_df

high_acidity_df = df[df['fixed acidity'] >= 8]
high_acidity_df.loc[:, 'quality'] = 2
high_acidity_df

# categorizing 작업을 해주기 위해 사용합니다. => labmda
# 우리 고객이 20~50대까지 존재해. 
# 고객을 타겟팅해서 광고하고 싶어. 여러분들은 어떻게 해야하죠?
# 고객 타겟팅 => 고객을 그룹화 (나이 기준)

# 나이를 5살 기준으로 할 수도 있구요.
# 20~25
# 26~30
# 31~35

In [92]:
concat_data_df = pd.concat([low_acidity_df, high_acidity_df], ignore_index=True) 
concat_data_df['quality'].value_counts()

0    3462
2    1257
Name: quality, dtype: int64

In [ ]:
# 연습문제 16: 'quality' 열의 값이 0인 데이터 중 'fixed acidity' 열의 값을 7로 변경하세요.

zero_quality_df = concat_data_df[concat_data_df['quality'] == 0]
zero_quality_df.loc[:, 'fixed acidity'] = 7
zero_quality_df

In [96]:
# 연습문제 17: 'quality' 열의 값이 6 이하인 데이터 중 'pH' 열의 값을 3으로 변경하세요.

low_quality_df2 = concat_data_df[concat_data_df['quality'] <= 6]
low_quality_df2.loc[:, 'pH'] = 3
low_quality_df2

/var/folders/yz/yncj9qh52mq6wk5p86v5p5lm0000gn/T/ipykernel_8447/593769165.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  low_quality_df2.loc[:, 'pH'] = 3

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3,0.45,8.8,0
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3,0.49,9.5,0
2,white,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.99490,3,0.47,9.6,0
3,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3,0.45,8.8,0
4,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3,0.49,9.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4714,red,8.0,0.39,0.30,1.9,0.074,32.0,84.0,0.99717,3,0.61,9.0,2
4715,red,11.1,0.44,0.42,2.2,0.064,14.0,19.0,0.99758,3,0.57,10.4,2
4716,red,8.4,0.37,0.43,2.3,0.063,12.0,19.0,0.99550,3,0.81,11.2,2
4717,red,11.2,0.40,0.50,2.0,0.099,19.0,50.0,0.99783,3,0.58,10.4,2
4718,red,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3,0.78,10.8,2